<as-split *ngIf="config"
          direction="horizontal">


  <ng-template ngFor let-column [ngForOf]="config.columns" let-icol="index">

    <as-split-area *ngIf="column.visible"
                   [order]="icol"
                   [size]="column.size">
      <as-split direction="vertical">
        <ng-template ngFor let-row [ngForOf]="column.rows" let-irow="index">
          <as-split-area *ngIf="row.visible"
                         [order]="irow"
                         [size]="row.size">

              <div class="toolbar"> <button>CompA</button> <button> CompB</button></div>
              <div  class="panel">

              </div>

          </as-split-area>
        </ng-template>
      </as-split>
    </as-split-area>
  </ng-template>
</as-split>
